<!DOCTYPE html>
<html ng-app="jobDetailsController">
<head>
    <meta charset="utf-8">
    <title>OLYMPIA</title>
    
    <link href="../../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/organization/postJob/postJob.css"/>
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/organization/viewApp/viewApp.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700&subset=latin,cyrillic-ext,greek-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href="../../css/volunteer/jobDetails/jobDetails.css" rel="stylesheet">
    <link href="../../css/slider/slider.css" rel="stylesheet" />
</head>

<body ng-controller="jobDetails">
    <!-- Page Header Section Start-->
    <header>
        <div class=''>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="../../img/logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="../search/searchVol.html" class='menu-interval'>Search Volunteer</a></li>
                <li><a href="../postJob/postjob.html"  class='menu-interval'>Post a Job</a></li>
                <li><a href="../jobPost/jobPost.html" class='menu-interval'>Job Postings</a></li>
                <li><a href="../../message/message.html?owner=organization" class='menu-interval'>Messages</a></li>
              </ul>
              
              <ul class="nav navbar-nav navbar-right">
                <li class='pull-right'><a href="#" id="icons-header-right"><span class="fa fa-question"></a></li>
                <li class='dropdown pull-right'>
                    <a href="#" class="dropdown-toggle" id="icons-header-right" data-toggle="dropdown"><i class='fa fa-cog'></i></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a role="menuitem" href="../organizationProfile/organizationProfile.html"><i class='glyphicon glyphicon-user'></i> My Profile</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="../../myAccount/myAccount.html?owner=organization"><i class='fa fa-wrench'></i> My Account</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="../../changePassword/changePassword.html?owner=organization"><i class='glyphicon glyphicon-cog'></i> Change Password</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="../../notificationSettings/notificationSettings.html?owner=organization"><i class='fa fa-bell'></i> Notification Settings</a></li>
                    </ul>
                </li>
                <li class='pull-right' ><a href="#" id="icons-header-right"><span class="fa fa-exclamation"></a></li>
                <li class="dropdown pull-right" style="margin-top:5px;" id="username" ng-init="client = false; organization = true">
                    <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown"  ng-if="organization == true">Organization &nbsp;<b class="caret green"></b></a>
                    <a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown" ng-if="client == true">Volunteer &nbsp;<b class="caret green"></b></a>
                    <ul class="dropdown-menu header-right-dropdown" ng-init=" addActive2 = 'make-it-white'">
                        <li role="presentation" ><a role="menuitem" ng-model="organization" ng-click="organization = true; client = false; addActive2 = 'make-it-white';addActive1=''"  href="../../organization/search/searchVol.html" id="tab-header-1" ng-class="addActive2"><img src="../../img/client-icon.png">&nbsp;&nbsp;&nbsp;Organization</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" ><a role="menuitem" ng-model="client" ng-click="organization = false; client = true; addActive1 = 'make-it-white';addActive2=''" href="../../volunteer/searchJob/searchJob.html" ng-class="addActive1"><img src="../../img/user-icon.svg" height="25" width="25">&nbsp;&nbsp;&nbsp;Volunteer</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" id="separate-highlight"> 
                            <span><a role="menuitem"  href="../../myAccount/myAccount.html?owner=organization" ng-if="client == true">sander_mrbrown</a></span>
                            <span><a role="menuitem"  href="../../myAccount/myAccount.html?owner=organization" ng-if="organization == true">sander_mrbrown</a></span>
                            <span><a role="menuitem"  href="../../login/login.html">Logout</a></span>
                        </li>

                    </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </header>
    <div class="container">
        <div class="row margin-rl-0">
            <div class="col-sm-12 padding-rl-0">
                <!-- Navigation back to page-->
                <span>
                    <a href="../search/searchVol.html" class="navigation">
                        <i class="fa fa-chevron-left black-arrow"></i>Back to search results
                    </a>
                </span>
            </div>
        </div>
        <div class="row margin-rl-0 margin-top-10 margin-bottom-10">
            <div class="col-sm-1">
                <img src="../../img/user.svg" width="70" height="70"/>
            </div>
            <div class="col-sm-11">
                <div class="panel-title padding-left-0">
                    <span ng-bind="organizationName"></span>
                </div>
                <label id="optional-text">Non-profit organization</label>
            </div>
        </div>
        <div class="row margin-rl-0">
            <div class="col-sm-8 padding-rl-0">
                <div class="main-border1">
                    <h4 class="bold">
                        About <span ng-bind="organizationName"></span>
                    </h4>
                    <p>Monarch Staffing is a local grassroots-oriented company. We are deeply networked throughout the region, continually cultivating through job fairs, professional associations, local events, colleges and universities. We give back to our community - our team is frequently out in the field, helping out-of-work citizens and their marketability through career development workshops, seminars and more. We also provide our clients and networks with interviewing skills training and professional development workshops.</p>
                    <br />
                    <div class="image-scroller">
                        <div class="icon-left">
                            <i class="fa fa-angle-left" id="left"></i>
                        </div>
                        <div id="slides">
                            <img src="../../img/scrolling1.jpg" width="200" height="140" alt="smile" id="image0"/>
                            <img src="../../img/scrolling2.jpg" width="200" height="140" alt="smile" id="image1"/>
                            <img src="../../img/scrolling3.png" width="200" height="140" alt="smile" id="image2"/> 
                            <img src="../../img/scrolling1.jpg" width="200" height="140" alt="smile" id="image3"/> 
                            <img src="../../img/scrolling2.jpg" width="200" height="140" alt="smile" id="image4"/> 
                        </div>
                        <div class="icon-right">
                            <i class="fa fa-angle-right" id="right"></i>
                        </div>
                    </div>
                    <div class="pill margin-top-20 margin-bottom-10">
                        <h5><strong>Organization recent job postings</strong></h5>
                    </div>
                    <div class="row job margin-rl-0" ng-repeat="job in jobPost">
                        <span>
                            <a href="../../volunteer/jobDetails/jobDetails.html?jobName={{job.jobTitle}}&jobDate={{job.jobDate}}" ng-bind="job.jobTitle">
                            </a>
                        </span>
                        <span ng-bind="job.jobDate" class="pull-right"></span>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-4 padding-right-0">
                <div class="main-border1">
                    <div class="row margin-rl-0">
                        <label class="margin-bottom-0">E-mail address:</label>
                        <span class="margin-bottom-0 pull-right">
                            <a href="#">
                                service@redcross.nl
                            </a>
                        </span>
                    </div>
                    <div class="row margin-rl-0">
                        <label class="margin-bottom-0">Website:</label>
                        <span class="margin-bottom-0 pull-right">
                            <a href="http://www.rodekruis.nl">
                                www.rodekruis.nl
                            </a>
                        </span>
                    </div>
                    <div class="row margin-rl-0">
                        <label class="margin-bottom-0">Telephone:</label>
                        <span class="margin-bottom-0 pull-right">
                            +31(0)70-4455678 
                        </span>
                    </div>
                    <div class="row margin-rl-0">
                        <label class="margin-bottom-0">Fax:</label>
                        <span class="margin-bottom-0 pull-right">
                            +31(0)70-4455678 
                        </span>
                    </div>
                    <div class="row margin-rl-0">
                        <label class="margin-bottom-0">Address:</label>
                        <span class="margin-bottom-0 pull-right">
                            Leeghwaterplein 27
                        </span>
                        <span class="margin-bottom-0 pull-right">
                            2521 CV Den Haag
                        </span>
                    </div>
                    <div class="row margin-rl-0">
                        <a href="" class="pull-right" ng-click="hideMap = true" ng-show="!hideMap">Hide map</a>
                        <a href="" class="pull-right" ng-click="hideMap = false" ng-show="hideMap">Show map</a>
                        <div class="grid" ng-if="!hideMap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d156001.6947562717!2d4.9696984!3d52.3427359!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c60955504f6de5%3A0x2ed08c58d2758077!2sRode+Kruislaan%2C+1111+Diemen%2C+The+Netherlands!5e0!3m2!1sen!2sin!4v1408821023776" width="290" height="200" frameborder="0" style="border:0"></iframe>
                        </div>
                    </div>
                </div>

                <div class="main-border1">
                    <label class="margin-bottom-0">Organizations focus categories:</label>
                    <div class="row margin-rl-0 margin-bottom-15 margin-top--3">
                        <span class="small-pill" ng-repeat="category in organizationCategories">{{category}}</span>
                    </div>
                </div>
                <div class="main-border1">
                    <label class="margin-bottom-10">{{organizationName}} Team</label>
                    <div  ng-repeat= "member in members">
                        <div class="row margin-rl-0">
                            <div class="col-sm-3">
                                <i class="glyphicon glyphicon-user font-size-2"></i>
                            </div>      
                            <div class="col-sm-9">
                                <span>
                                    <a href="../../volunteer/volunteerProfile/volunteerProfile.html?name={{member}}&city=Amsterdam,%20Noord%20Holland" ng-bind="member">
                                    </a>
                                </span>
                                    <br>
                                <span>
                                    Amsterdam, Noord Holland
                                </span>
                            </div>
                        </div>
                    <hr class="user-hr" ng-if="$index !== members.length-1">
                </div>
                </div>

            </div>
        </div>
    </div>

    <footer>
        <div class="container1">
            <div class="row">
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:80px">
                        <li>
                            <a href="#" class="footer-text">About Us </a>
                        </li>
                        <li><a href="#" class="footer-text">Blog </a></li>
                        <li><a href="#" class="footer-text">Feedback </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:40px">
                        <li>
                            <a href="#" class="footer-text">Comunnity</a>
                        </li>
                        <li><a href="#" class="footer-text">Trust & Safety </a></li>
                        <li><a href="#" class="footer-text">Help & Support </a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Enterprise Solution</a>
                        </li>
                        <li><a href="#" class="footer-text">Terms of Services </a></li>
                        <li><a href="#" class="footer-text">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="footer-link-list" style="padding-left:30px">
                        <li>
                            <a href="#" class="footer-text">Tools</a>
                        </li>
                        <li><a href="#" class="footer-text">Client Resources</a></li>
                        <li><a href="#" class="footer-text">Help & Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="social-network-icon-wrap" style="padding-right:60px">
                        <a href="#" class="footer-select social-network-icons">
                            <span class="footer-circle footer-circle-linkedin pull-right">
                                <i class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-facebook pull-right">
                                <i class="fa fa-facebook font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-twitter pull-right">
                                <i class="fa fa-twitter font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                        <a href="#" class="social-network-icons">
                            <span class="footer-circle footer-circle-google pull-right">
                                <i class="fa fa-google-plus font-size-20 icon-attr1"> </i>
                            </span>
                        </a>
                    </div>
                    <span class="footer-copyrights" id='footer-copyrights' style="padding-right:60px">
                        <span>&#169;&nbsp;Olympia Volunteer Corporation</span>
                    </span>
                </div>
            </div>
        </div>
    </footer>

     
    <script src="../../lib/jquery/dist/jquery.min.js"></script>
    <script src="../../lib/angular/angular.min.js"></script>
    <script src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="controller.js"></script>
    <script src="../../js/imageSlider/imageSlider.js"></script>    
</body>
</html>
