.circle-green {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
    margin-left:5px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;    
    background-color: #009e0f ;
    cursor:pointer;
    display: inline-block;
}
.icon-white-plus{
    color: #ffffff;
    display: inline-block;
    margin-top: 5px ;
    margin-left: 6px;
    font-size: 15px;
}
.bootstrap-tagsinput{
    display: inline-block;
    padding: 5px  5px;
    font-size: 13px;
    color: #444444;
    width: 900px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 4px;
    outline: 0;
    cursor: text;
}
.bootstrap-tagsinput:focus {
  border-color: #00aeec;
}
